body {
    background-color: #87CEFA; /* Bleu clair */
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

.register-page {
    background-color: #00aaff;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

h1 {
    color: white;
}

form {
    background-color: #222;
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
    margin: 20px;
}

input[type="text"] {
    padding: 10px;
    border: 1px solid #00aaff;
    border-radius: 5px;
    background-color: white;
    color: black;
    width: 200px;
}

button, input[type="submit"] {
    background-color: #00aaff;
    color: white;
    border: none;
    padding: 10px 15px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover, input[type="submit"]:hover {
    background-color: #0088cc;
}

#callInterface {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#participants {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    overflow: auto;
    flex-grow: 1;
    padding-bottom: 60px;
}

video {
    width: 500px; /* Vidéo plus grande */
    height: auto;
    border: 3px solid #00aaff;
    border-radius: 15px;
    margin: 10px;
}

#endCall {
    background-color: red;
    border-radius: 50%;
    padding: 15px;
    margin-top: 20px;
    border: none;
    cursor: pointer;
    z-index: 10;
}

#endCall:hover {
    background-color: darkred;
}
