body {
    background-color: #1a1a1a; /* Fond général noir */
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh; /* Utilisation de toute la hauteur de la fenêtre */
}

/* Page d'accueil en bleu */
.register-page {
    background-color: #007BFF; /* Bleu pour la page d'accueil */
    padding: 50px 0;
    border-radius: 10px;
}

h1 {
    color: #ffffff; /* Texte blanc sur fond bleu */
}

form {
    background-color: #222;
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
    margin: 20px;
}

input[type="text"] {
    padding: 10px;
    border: 1px solid #007BFF; /* Bordure bleue */
    border-radius: 5px;
    background-color: #fff;
    color: #000;
    width: 200px;
}

input[type="submit"], button {
    background-color: #007BFF; /* Bleu pour les boutons */
    color: white;
    border: none;
    padding: 10px 15px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

input[type="submit"]:hover, button:hover {
    background-color: #0056b3; /* Couleur plus foncée au survol */
}

#participants {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centrer les vidéos */
    margin-top: 20px;
    overflow: auto;
    flex-grow: 1; /* Permet au conteneur de prendre tout l'espace disponible */
    padding-bottom: 60px; /* Assure que l'espace pour les vidéos ne soit pas superposé par le bouton */
}

video {
    width: 300px;
    height: auto;
    border: 2px solid #007BFF; /* Bordure bleue autour des vidéos */
    border-radius: 10px;
    margin: 10px;
}

/* Bouton raccrocher positionné en bas de l'écran */
#endCall {
    background-color: red; /* Rouge pour le bouton raccrocher */
    border-radius: 50%;
    padding: 15px;
    position: fixed;
    bottom: 20px; /* Décalage vers le bas pour éviter la superposition avec les vidéos */
    left: 50%;
    transform: translateX(-50%);
    border: none;
    cursor: pointer;
    z-index: 10; /* Assure que le bouton est au-dessus des vidéos */
}

#endCall img {
    width: 30px;
    height: 30px;
}

#endCall:hover {
    background-color: darkred; /* Couleur plus foncée au survol */
}




