body {
    background-color: #1a1a1a; /* Noir */
    color: white; /* Texte en blanc */
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    color: #007BFF; /* Bleu */
}

form {
    background-color: #222;
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
    margin: 20px;
}

input[type="text"] {
    padding: 10px;
    border: 1px solid #007BFF;
    border-radius: 5px;
    background-color: #fff;
    color: #000;
    width: 200px;
}

input[type="submit"], button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 15px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

input[type="submit"]:hover, button:hover {
    background-color: #0056b3;
}

#participants {
    margin-top: 20px;
}

video {
    width: 300px;
    height: auto;
    border: 2px solid #007BFF;
    border-radius: 10px;
    margin: 10px;
}

#endCall {
    background-color: red;
}

#endCall:hover {
    background-color: darkred;
}

